<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Teammate</title>
        <link rel="stylesheet" href="/public/index.css" />
    </head>
    <body>
        <h1>Teammate</h1>
        <a href="/" class="link">Home</a>
        <a href="/contact" class="link">Contact</a>
        <a href="/personal" class="link">Personal</a>
        <div id="container"></div>
    </body>

    <script type="module" src="/public/js/index.js"></script>
</html>
